
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.intro {
    text-align: center;
    font-size: 1.2rem;
}

.pageLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
}