@import "../../styles/globals";

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: solid 1px rgba($blue, .2);
    margin-top: 3rem;
    padding-top: 2rem;

    p {
        margin: 0 1rem;
        white-space: nowrap;
    }
}